@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alpine.js x-cloak directive - hide elements until Alpine initializes */
[x-cloak] {
    display: none !important;
}


[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(128deg,
      rgba(64, 175, 255, 1) 0%,
      rgba(63, 97, 255, 1) 100%);
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(128deg,
      rgba(255, 154, 63, 1) 0%,
      rgba(255, 75, 64, 1) 100%);
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(128deg,
      rgba(182, 255, 64, 1) 0%,
      rgba(63, 255, 71, 1) 100%);
  background: linear-gradient(128deg,
      rgba(189, 255, 83, 1) 0%,
      rgba(43, 250, 82, 1) 100%);
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(128deg,
      rgba(64, 255, 242, 1) 0%,
      rgba(63, 188, 255, 1) 100%);
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(128deg,
      rgba(255, 64, 156, 1) 0%,
      rgba(255, 63, 63, 1) 100%);
}

.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(128deg,
      rgba(64, 76, 255, 1) 0%,
      rgba(174, 63, 255, 1) 100%);
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  opacity: 0.6;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 97.61 97.61' %3E%3Cpath fill='%23fff' d='M48.7999992 97.6100006A48.81 48.81 0 1 0 0 48.8100014a48.8 48.8 0 0 0 48.7999992 48.7999992zm-12.9099998-51.630001l18-17.9300004a4 4 0 1 1 5.6599998 5.6599999L44.4500008 48.8100014l15.0599975 15.079998a4 4 0 0 1-5.619999 5.6699982l-18-17.9299965a4 4 0 0 1-1.169998-2.8199997 4 4 0 0 1 1.169998-2.8300019z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
  right: 5px;
  opacity: 0.6;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 97.61 97.61'%3E%3Cpath fill='%23fff' transform='rotate(180 48.8 48.8)' d='M48.7999992 97.6100006A48.81 48.81 0 1 0 0 48.8100014a48.8 48.8 0 0 0 48.7999992 48.7999992zm-12.9099998-51.630001l18-17.9300004a4 4 0 1 1 5.6599998 5.6599999L44.4500008 48.8100014l15.0599975 15.079998a4 4 0 0 1-5.619999 5.6699982l-18-17.9299965a4 4 0 0 1-1.169998-2.8199997 4 4 0 0 1 1.169998-2.8300019z'/%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
  display: none;
}

.arrow--disabled.arrow--right {
  display: none;
}




.sidebar-link {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.sidebar-text {
  white-space: nowrap;
  overflow: hidden;
}

/* Mobile styles */
.sidebar-mobile {
  z-index: 50;
  width: 100%;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  top: auto;
  padding: 10px 0;
}

.sidebar-mobile .sidebar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sidebar-mobile .sidebar-item {
  flex: 1;
}

.sidebar-mobile .sidebar-link {
  flex-direction: row;
  justify-content: center;
  padding: 10px 5px;
}

.sidebar-mobile .sidebar-text {
  display: none;
}

/* Medium screens - icons only */
.sidebar-medium {
  width: 70px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 80px 0;
}

.sidebar-medium .sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-medium .sidebar-item {
  width: 100%;
  margin-bottom: 10px;
}

.sidebar-medium .sidebar-link {
  flex-direction: column;
  justify-content: center;
  padding: 12px 5px;
  text-align: center;
}

.sidebar-medium .sidebar-text {
  display: none;
}

/* Large screens - full size */
.sidebar-large {
  width: 180px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 80px 0px;
}

.sidebar-large .sidebar-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-large .sidebar-item {
  margin-bottom: 10px;
}

.sidebar-large .sidebar-link {
  flex-direction: row;
  padding: 12px 20px;
}

.sidebar-large .sidebar-text {
  display: block;
  margin-left: 12px;
}

.content-mobile {
  margin-bottom: 70px;
  margin-left: 0;
}

.content-medium {
  margin-left: 70px;
  margin-bottom: 0;
}

.content-large {
  margin-left: 180px;
  margin-bottom: 0;
}

.like-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.like-btn:disabled {
    cursor: default;
}

.like-btn svg {
    width: 24px;
    height: 24px;
    display: block;
}

.dots-btn:disabled {
    cursor: default;
    opacity: 0.6;
}